body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u365 {
  position:absolute;
  left:10px;
  top:90px;
  width:614px;
  height:1205px;
}
#u366 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u367 {
  position:absolute;
  left:0px;
  top:8px;
  width:50px;
  height:64px;
}
#u368 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u369 {
  position:absolute;
  left:70px;
  top:22px;
  width:193px;
  height:38px;
  font-size:32px;
  color:#CCCCCC;
}
#u370 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u371 {
  position:absolute;
  left:40px;
  top:186px;
  width:546px;
  height:970px;
}
#u372 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u374 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
}
#u375 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u376 {
  position:absolute;
  left:240px;
  top:208px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u377 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u378 {
  position:absolute;
  left:50px;
  top:204px;
  width:32px;
  height:32px;
}
#u379 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u380 {
  position:absolute;
  left:80px;
  top:340px;
  width:138px;
  height:20px;
  font-size:20px;
}
#u381 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u382 {
  position:absolute;
  left:81px;
  top:406px;
  width:98px;
  height:24px;
  font-size:20px;
}
#u383 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
