body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u415 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u416 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u417 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u418 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u419 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u420 {
  position:absolute;
  left:70px;
  top:14px;
  width:193px;
  height:38px;
  font-size:32px;
  color:#CCCCCC;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u423 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u425 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
}
#u426 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u427 {
  position:absolute;
  left:240px;
  top:208px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u429 {
  position:absolute;
  left:50px;
  top:204px;
  width:32px;
  height:32px;
}
#u430 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u431 {
  position:absolute;
  left:58px;
  top:347px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u432 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
