body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:301px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:441px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:440px;
}
#u70 {
  position:absolute;
  left:2px;
  top:212px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:120px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:0px;
  top:135px;
  width:286px;
  height:120px;
}
#u72 {
  position:absolute;
  left:2px;
  top:52px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:10px;
  top:151px;
  width:126px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u75 {
  position:absolute;
  left:20px;
  top:209px;
  width:49px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:95px;
  width:286px;
  height:30px;
}
#u77_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:292px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:35px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  text-align:center;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u81 {
  position:absolute;
  left:95px;
  top:0px;
  width:95px;
  height:30px;
  text-align:center;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u83 {
  position:absolute;
  left:190px;
  top:0px;
  width:96px;
  height:30px;
  text-align:center;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:81px;
  top:223px;
  width:54px;
  height:13px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:109px;
  top:172px;
  width:79px;
  height:20px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u88 {
  position:absolute;
  left:207px;
  top:172px;
  width:69px;
  height:20px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  position:absolute;
  left:10px;
  top:172px;
  width:99px;
  height:20px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:120px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  position:absolute;
  left:2px;
  top:274px;
  width:286px;
  height:120px;
}
#u92 {
  position:absolute;
  left:2px;
  top:52px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  position:absolute;
  left:12px;
  top:290px;
  width:126px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u95 {
  position:absolute;
  left:22px;
  top:348px;
  width:49px;
  height:40px;
}
#u96 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
}
#u98 {
  position:absolute;
  left:1px;
  top:0px;
  width:300px;
  height:84px;
}
#u99 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u100 {
  position:absolute;
  left:81px;
  top:26px;
  width:105px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:83px;
  top:362px;
  width:54px;
  height:13px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  position:absolute;
  left:12px;
  top:311px;
  width:99px;
  height:20px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
