body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:351px;
}
#u210 {
  position:absolute;
  left:0px;
  top:-18px;
  width:300px;
  height:350px;
}
#u211 {
  position:absolute;
  left:2px;
  top:167px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u212 {
  position:absolute;
  left:14px;
  top:169px;
  width:70px;
  height:16px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  position:absolute;
  left:14px;
  top:127px;
  width:80px;
  height:16px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  position:absolute;
  left:14px;
  top:87px;
  width:80px;
  height:16px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:84px;
}
#u219 {
  position:absolute;
  left:-10px;
  top:-18px;
  width:310px;
  height:84px;
}
#u220 {
  position:absolute;
  left:2px;
  top:34px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u221 {
  position:absolute;
  left:92px;
  top:20px;
  width:105px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:84px;
  top:163px;
  width:205px;
  height:22px;
}
#u223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u223_input:disabled {
  color:grayText;
}
#u224 {
  position:absolute;
  left:75px;
  top:251px;
  width:140px;
  height:25px;
}
#u224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
