body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u707 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u708 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u710 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u711 {
  position:absolute;
  left:70px;
  top:14px;
  width:193px;
  height:38px;
  font-size:32px;
  color:#CCCCCC;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u714 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
}
#u716 {
  position:absolute;
  left:40px;
  top:267px;
  width:546px;
  height:90px;
}
#u717 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:90px;
}
#u718 {
  position:absolute;
  left:40px;
  top:267px;
  width:110px;
  height:90px;
}
#u719 {
  position:absolute;
  left:2px;
  top:37px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u721 {
  position:absolute;
  left:72px;
  top:272px;
  width:50px;
  height:50px;
}
#u722 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u723 {
  position:absolute;
  left:71px;
  top:327px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u726 {
  position:absolute;
  left:226px;
  top:272px;
  width:50px;
  height:50px;
}
#u727 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u728 {
  position:absolute;
  left:225px;
  top:327px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u731 {
  position:absolute;
  left:375px;
  top:272px;
  width:50px;
  height:50px;
}
#u732 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u733 {
  position:absolute;
  left:374px;
  top:327px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u736 {
  position:absolute;
  left:516px;
  top:272px;
  width:50px;
  height:50px;
}
#u737 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u738 {
  position:absolute;
  left:515px;
  top:327px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u739 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u740 {
  position:absolute;
  left:72px;
  top:197px;
  width:60px;
  height:60px;
}
#u741 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:84px;
}
#u743 {
  position:absolute;
  left:146px;
  top:178px;
  width:440px;
  height:84px;
}
#u744 {
  position:absolute;
  left:2px;
  top:34px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u745 {
  position:absolute;
  left:166px;
  top:215px;
  width:115px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u747 {
  position:absolute;
  left:516px;
  top:190px;
  width:60px;
  height:60px;
}
#u748 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:113px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u749 {
  position:absolute;
  left:50px;
  top:407px;
  width:536px;
  height:113px;
  text-align:left;
  line-height:20px;
}
#u750 {
  position:absolute;
  left:2px;
  top:36px;
  width:532px;
  word-wrap:break-word;
}
#u751 {
  position:absolute;
  left:40px;
  top:267px;
  width:110px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u752 {
  position:absolute;
  left:186px;
  top:267px;
  width:124px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u753 {
  position:absolute;
  left:350px;
  top:267px;
  width:110px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u754 {
  position:absolute;
  left:500px;
  top:272px;
  width:86px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u755 {
  position:absolute;
  left:446px;
  top:1090px;
  width:140px;
  height:40px;
}
#u756 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
