body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:401px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:400px;
}
#u153 {
  position:absolute;
  left:2px;
  top:192px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u154 {
  position:absolute;
  left:26px;
  top:127px;
  width:50px;
  height:50px;
}
#u155 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u156 {
  position:absolute;
  left:125px;
  top:126px;
  width:50px;
  height:50px;
}
#u157 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u158 {
  position:absolute;
  left:220px;
  top:123px;
  width:50px;
  height:50px;
}
#u159 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:84px;
}
#u161 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:310px;
  height:84px;
}
#u162 {
  position:absolute;
  left:2px;
  top:34px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u163 {
  position:absolute;
  left:92px;
  top:34px;
  width:105px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  position:absolute;
  left:26px;
  top:187px;
  width:53px;
  height:16px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  position:absolute;
  left:125px;
  top:186px;
  width:53px;
  height:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u169 {
  position:absolute;
  left:220px;
  top:187px;
  width:53px;
  height:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
