body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:294px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:46px;
}
#u22 {
  position:absolute;
  left:0px;
  top:489px;
  width:42px;
  height:46px;
  color:#1E1E1E;
}
#u23 {
  position:absolute;
  left:2px;
  top:15px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:62px;
}
#u24 {
  position:absolute;
  left:-10px;
  top:0px;
  width:314px;
  height:62px;
}
#u25 {
  position:absolute;
  left:2px;
  top:23px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u26 {
  position:absolute;
  left:60px;
  top:30px;
  width:190px;
  height:32px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:42px;
  top:494px;
  width:87px;
  height:30px;
}
#u28_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:129px;
  top:494px;
  width:87px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:217px;
  top:494px;
  width:87px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:432px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:-10px;
  top:62px;
  width:314px;
  height:432px;
}
#u35 {
  position:absolute;
  left:2px;
  top:208px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
.u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u36-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u36-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u36-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u36 {
  position:absolute;
  left:42px;
  top:374px;
  width:100px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
