body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u313 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u314 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u316 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u317 {
  position:absolute;
  left:70px;
  top:14px;
  width:193px;
  height:38px;
  font-size:32px;
  color:#CCCCCC;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u319 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u320 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:250px;
}
#u321 {
  position:absolute;
  left:50px;
  top:180px;
  width:530px;
  height:250px;
}
#u322 {
  position:absolute;
  left:2px;
  top:117px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u324 {
  position:absolute;
  left:130px;
  top:410px;
  width:440px;
  height:60px;
  font-size:20px;
}
#u325 {
  position:absolute;
  left:2px;
  top:22px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u326 {
  position:absolute;
  left:147px;
  top:418px;
  width:396px;
  height:45px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u327 {
  position:absolute;
  left:0px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u328 {
  position:absolute;
  left:80px;
  top:538px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u329 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u330 {
  position:absolute;
  left:150px;
  top:520px;
  width:400px;
  height:60px;
  font-size:20px;
}
#u331 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u332 {
  position:absolute;
  left:80px;
  top:651px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u333 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u334 {
  position:absolute;
  left:150px;
  top:633px;
  width:400px;
  height:60px;
  font-size:20px;
}
#u335 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:60px;
}
#u337 {
  position:absolute;
  left:80px;
  top:790px;
  width:480px;
  height:60px;
  font-size:20px;
}
#u338 {
  position:absolute;
  left:2px;
  top:22px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u339 {
  position:absolute;
  left:124px;
  top:799px;
  width:392px;
  height:45px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u340 {
  position:absolute;
  left:0px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u341 {
  position:absolute;
  left:80px;
  top:790px;
  width:480px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
