body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u472 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u473 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u474 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u475 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u476 {
  position:absolute;
  left:70px;
  top:14px;
  width:193px;
  height:38px;
  font-size:32px;
  color:#CCCCCC;
}
#u477 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u479 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:102px;
}
#u481 {
  position:absolute;
  left:49px;
  top:178px;
  width:537px;
  height:102px;
}
#u482 {
  position:absolute;
  left:2px;
  top:43px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u483 {
  position:absolute;
  left:247px;
  top:229px;
  width:140px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u484 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:39px;
}
#u485 {
  position:absolute;
  left:60px;
  top:224px;
  width:31px;
  height:39px;
}
#u486 {
  position:absolute;
  left:2px;
  top:12px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:85px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u490 {
  position:absolute;
  left:60px;
  top:372px;
  width:487px;
  height:85px;
}
#u491 {
  position:absolute;
  left:2px;
  top:34px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u492 {
  position:absolute;
  left:80px;
  top:396px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u493 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:39px;
}
#u494 {
  position:absolute;
  left:493px;
  top:393px;
  width:31px;
  height:39px;
}
#u495 {
  position:absolute;
  left:2px;
  top:12px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:72px;
}
#u497 {
  position:absolute;
  left:103px;
  top:627px;
  width:429px;
  height:72px;
  font-size:20px;
}
#u498 {
  position:absolute;
  left:2px;
  top:28px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u499 {
  position:absolute;
  left:142px;
  top:638px;
  width:351px;
  height:55px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u500 {
  position:absolute;
  left:0px;
  top:14px;
  width:351px;
  word-wrap:break-word;
}
